<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xbchen.springboot.mybatis.mapper.TestXmlMapper">
    <select id="findAccountsById" resultType="com.xbchen.springboot.mybatis.model.Account">
    <![CDATA[


            select  id as id,
			 name as name,
			 money as money
			 from test3
			 where
			 id >= #{id}


        ]]>
  </select>
    <select id="getAccountById" parameterType="int"
            resultType="com.xbchen.springboot.mybatis.model.Account">
    <![CDATA[


            select  id as id,name as name,money as money
			 from test3
			 where
            id = #{id}


        ]]>
  </select>
    <insert id="insertAccount" parameterType="com.xbchen.springboot.mybatis.model.Account"
            keyColumn="`id`" keyProperty="`id`" useGeneratedKeys="true">
        insert into test3 (name,money) values (#{name},#{money})
    </insert>
</mapper>